- title @tweet.user.name, false

#tweet
  #show
    %h1
      = image_tag(@tweet.user.profile_image_url, :border => "0")
      = @tweet.user.name
      
    %h2
      = @tweet.completed ? 'Completed The Process' : 'DID NOT Complete The Process'

    %p
      %strong Sent Direct Mesages:
      =h @tweet.send_dm
    %p
      %strong Is Following Us:
      =h @tweet.follow_us
    %p
      %strong Number Of Friends:
      =h @tweet.user.friends_count
    %p
      %strong Number Of Followers:
      =h @tweet.user.followers_count
    %p
      %b Created Date:
      =h @tweet.created_at

    %p
      = link_to "Destroy", [:admin, @tweet], :confirm => 'Are you sure?', :method => :delete
      |
      = link_to "View All", admin_tweets_path
