#tweet
  #new
    .uparrow
      = image_tag("/images/twitter/arr2.gif", :border => "0", :align => "bottom" )

    #box
      %p
        Help us cure Spinal Muscular Atrophy (SMA), the #1 genetic killer of young children, by voting for the Gwendolyn Strong Foundation to win a $1 Million grant on Facebook. It only takes 30 seconds to make a difference.
  
      .story
        .picture
          = image_tag @story.picture.url if @story
        .copy
          = @story.copy
        
    
      %p
        A cure is possible in 5 years. 
        %b= "Help save #{@story.name}." 
        Help save all children battling SMA.

      #twitter
        Please let others know that you support curing this terrible disease via Twitter.
        
        .message
          = @tweet.status.message if @tweet.status
        
        The above tweet will be posted to your Twitter account after authorization by clicking "Vote For A Cure Now!" below. 

        - form_for @tweet do |f|
          = f.hidden_field :status_id, :value => @tweet.status.id 
          %table.twitter(cellpadding="4")
            %tr
              %td
              %td
                = f.check_box :follow_us
                = f.label :follow_us, "Follow @GSFoundation on Twitter"
            %tr
              %td
              %td
                = f.check_box :send_dm
                = f.label :send_dm, "Direct Message your followers for more impact to help cure SMA! -- thank you!", :class => 'dm'         
      
          .action
            = submit_tag 'Vote For A Cure Now! >>', :id => "submit", :class => "button" 
          
            .skip
              = link_to "Skip this and take me direct to Facebook to vote", 'http://apps.facebook.com/chasecommunitygiving/charities/710566'
      
    #wall
      .title
        = "#{@tweet_count} People Have Tweeted To Vote For A Cure!"
      .subtitle
        = "(Reaching over #{@tweet_reach} followers already!)"
      - if @profile_pics
        - @profile_pics.each do |pic|
          %span.pic
            = image_tag(pic, :border => "0", :alt => '', :width => 48, :height => 48)