- form_for [:admin, @story], :html => { :multipart => true }  do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :copy
    %br
    = f.text_area :copy
  %p
    = f.check_box :active
    = f.label :active
  %p
    = f.label "Picture"
    %br
    = f.file_field :picture
  %p
    = f.submit "Submit"
