#stories
  #index
    - title "Stories"

    %table.fancy
      %tr
        %th Picture
        %th Name
        %th Copy
        %th Active
        %th(colspan="3")
      - for story in @stories
        %tr
          %td= image_tag story.picture.url
          %td= h story.name
          %td= h story.active
          %td= link_to 'Show', [:admin, story]
          %td= link_to 'Edit', edit_admin_story_path(story)
          %td= link_to 'Destroy', [:admin, story], :confirm => 'Are you sure?', :method => :delete

    %br
    %p= link_to "+ New Story", new_admin_story_path
