#searches
  #index
    - title "Searches"

    %table.fancy
      %tr
        %th Created At
        %th Status
        %th From user
        %th Replied To Message
      - for search in @searches
        %tr
          %td= h search.created_at
          %td= link_to search.status_id, "http://www.twitter.com/#{search.from_user}/statuses/#{search.status_id}", :target => "_blank" 
          %td= link_to search.from_user, "http://www.twitter.com/#{search.from_user}", :target => "_blank" 
          %td= h search.message

