#searches
  #index
    - title "Searches"

    %table
      %tr
        %th Status
        %th From user
        %th From user
        %th Message
        %th(colspan="3")
      - for search in @searches
        %tr
          %td= h search.status_id
          %td= h search.from_user
          %td= h search.from_user_id
          %td= h search.message
          %td= link_to 'Show', [:admin, search]
          %td= link_to 'Edit', edit_admin_search_path(search)
          %td= link_to 'Destroy', [:admin, search], :confirm => 'Are you sure?', :method => :delete

    %p= link_to "+ New Search", new_admin_search_path
