#statuses
  #index
    - title "Statuses"

    %table
      %tr
        %th Name
        %th Body
        %th Active
        %th(colspan="3")
      - for status in @statuses
        %tr
          %td= h status.name
          %td= h status.body
          %td= h status.active
          %td= link_to 'Show', [:admin, status]
          %td= link_to 'Edit', edit_admin_status_path(status)
          %td= link_to 'Destroy', [:admin, status], :confirm => 'Are you sure?', :method => :delete

    %p= link_to "+ New Status", new_admin_status_path
